.repos__filters {
  box-sizing: border-box;
  float: left;
  width: 20em;
  padding: 1.5em;
  height: calc(100vh - 3.7em);
  position: fixed;
}

.repos__result {
  margin-left: 20em;
}

.repos__total {
  text-align: right;
  padding: 1em;
  padding-bottom: 0;
}

.repos-filters {
  background: white;  
  box-shadow: 0 0 3px #aaa;
  height: 100%;
}

.repos-list {
  max-width: 75em;
  margin: 0 auto;
  padding: 1.5em;
  padding-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.repos-list__item {
  margin: .5em;
  width: 17em;
}

.load-more-container {
  text-align: center;
  margin-bottom: .5em;
}

.load-more-container__btn {
  border: none;
  background: #313131;
  color: white;
  font-size: 1em;
  padding: .5em 1em;
  border-radius: .4em;
  cursor: pointer;
}

.load-more-container__btn:hover {
  background: #3b3b3b;
}
